# Assignment 5

1. Consider the following dataframe of prices:<br>
```pd.DataFrame({'price':[34.6, 35.66, 33.98, 38.67, 32.99, 32.04, 37.64, 38.22, 37.13, 38.57, 32.4, 34.98, 36.74, 32.9,32.52, 38.83, 33.9, 32.62, 38.93, 32.14, 33.09, 34.25, 34.39, 33.28, 38.13, 36.25, 38.91, 38.9, 36.85, 32.17, 32.07, 34.49, 35.7, 32.54, 37.91, 37.35, 32.05, 38.03, 0.32, 33.87, 33.16, 34.74, 32.47, 33.31, 34.54, 36.6, 36.09, 35.49, 37.51, 37.33, 37.54, 33.32, 35.09, 33.08, 38.3, 34.32, 37.01, 33.63, 36.35, 33.77, 33.74, 36.62, 36.74, 37.76, 35.58, 38.76, 36.57, 37.05, 35.33, 36.41, 35.54, 37.48, 36.22, 36.19, 36.43, 34.31, 34.85, 38.76, 38.52, 38.02, 36.67, 32.51, 321.6, 37.82,34.76, 33.55, 32.85, 32.99, 35.06]}, index = pd.date_range('2014-03-03 06:00','2014-03-06 22:00',freq='H'))```<br>
    You are informed that the lowest price over this period is 32.04, and the highest was 38.93, and the data is in UTC.  Clean the data, change the time-zone to 'Asia/Singapore', and slice out the times that are between 09:00 and 14:30 (local time).
2. Consider the following dataframe: <br>
```pd.DataFrame({'day':['2015-05-05']*32 + ['2015-05-06']*29,'time':[' 08:00:00', ' 08:30:00', ' 09:00:00', ' 09:30:00', ' 10:00:00',' 10:30:00', ' 11:00:00', ' 11:30:00', ' 12:00:00', ' 12:30:00',' 13:00:00', ' 13:30:00', ' 14:00:00', ' 14:30:00', ' 15:00:00',' 15:30:00', ' 16:00:00', ' 16:30:00', ' 17:00:00', ' 17:30:00',' 18:00:00', ' 18:30:00', ' 19:00:00', ' 19:30:00', ' 20:00:00',' 20:30:00', ' 21:00:00', ' 21:30:00', ' 22:00:00', ' 22:30:00',' 23:00:00', ' 23:30:00', ' 00:00:00', ' 00:30:00', ' 01:00:00',' 01:30:00', ' 02:00:00', ' 02:30:00', ' 03:00:00', ' 03:30:00', '04:00:00', ' 04:30:00', ' 05:00:00', ' 05:30:00', ' 06:00:00',' 06:30:00', ' 07:00:00', ' 07:30:00', ' 08:00:00', ' 08:30:00',' 09:00:00', ' 09:30:00', ' 10:00:00', ' 10:30:00', ' 11:00:00',' 11:30:00', ' 12:00:00', ' 12:30:00', ' 13:00:00', ' 13:30:00',' 14:00:00'], 'Units Manufactured':np.random.randint(10,25,size=61)})```<br>
The 'day' and 'time' columns are formatted as strings.  Create a new column which concatenates these columns into a single datetime-looking column, convert it to a column of datetime objects, and set it as the index.
3. The *True Range* of a price series is defined as follows:<br>
$$ \text{TR} = \max\left[\,\left|(\text{high}-\text{low})\right|,\,\left|(\text{high}-\text{close}_\text{prev})\right|,\,\left|(\text{low}-\text{close}_\text{prev})\right|\,\right] $$
where $\text{close}_\text{prev}$ is the close of the previous time period.  Load in ```timeseries_1.csv``` again, and create a new column which is the True Range of the prices provided.
5. (Bonus) You can apply a dictionary's rules to a column with ```dataframe.replace()``` by feeding it a new dictionary with the column name (as string) for the key, and the dictionary whose rules you want to apply as value.  Load in the included CSV ```nuit_5_bonus.csv```, and combine the year, month, and day columns into a single datetime column, and apply it as the index.  Note:  the months are listed as three-letter names, not numbers.  Convert this column to the numbers corresponding with the months first.

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'day':['2015-05-05']*32 + ['2015-05-06']*29,'time':[' 08:00:00', ' 08:30:00', ' 09:00:00', ' 09:30:00', ' 10:00:00',' 10:30:00', ' 11:00:00', ' 11:30:00', ' 12:00:00', ' 12:30:00',' 13:00:00', ' 13:30:00', ' 14:00:00', ' 14:30:00', ' 15:00:00',' 15:30:00', ' 16:00:00', ' 16:30:00', ' 17:00:00', ' 17:30:00',' 18:00:00', ' 18:30:00', ' 19:00:00', ' 19:30:00', ' 20:00:00',' 20:30:00', ' 21:00:00', ' 21:30:00', ' 22:00:00', ' 22:30:00',' 23:00:00', ' 23:30:00', ' 00:00:00', ' 00:30:00', ' 01:00:00',' 01:30:00', ' 02:00:00', ' 02:30:00', ' 03:00:00', ' 03:30:00', '04:00:00', ' 04:30:00', ' 05:00:00', ' 05:30:00', ' 06:00:00',' 06:30:00', ' 07:00:00', ' 07:30:00', ' 08:00:00', ' 08:30:00',' 09:00:00', ' 09:30:00', ' 10:00:00', ' 10:30:00', ' 11:00:00',' 11:30:00', ' 12:00:00', ' 12:30:00', ' 13:00:00', ' 13:30:00',' 14:00:00'], 'Units Manufactured':np.random.randint(10,25,size=61)})
df

           day       time  Units Manufactured
0   2015-05-05   08:00:00                  21
1   2015-05-05   08:30:00                  13
2   2015-05-05   09:00:00                  16
3   2015-05-05   09:30:00                  20
4   2015-05-05   10:00:00                  22
5   2015-05-05   10:30:00                  20
6   2015-05-05   11:00:00                  16
7   2015-05-05   11:30:00                  13
8   2015-05-05   12:00:00                  20
9   2015-05-05   12:30:00                  22
10  2015-05-05   13:00:00                  12
11  2015-05-05   13:30:00                  19
12  2015-05-05   14:00:00                  11
13  2015-05-05   14:30:00                  19
14  2015-05-05   15:00:00                  10
15  2015-05-05   15:30:00                  16
16  2015-05-05   16:00:00                  14
17  2015-05-05   16:30:00                  13
18  2015-05-05   17:00:00                  10
19  2015-05-05   17:30:00                  19
20  2015-05-05   18:00:00                  14
21  2015-05-05   18:30:00                  22
22  2015-05-05   19:00:00                  24
23  2015-05-05   19:30:00                  13
24  2015-05-05   20:00:00                  16
25  2015-05-05   20:30:00                  14
26  2015-05-05   21:00:00                  21
27  2015-05-05   21:30:00                  13
28  2015-05-05   22:00:00                  17
29  2015-05-05   22:30:00                  21
..         ...        ...                 ...
31  2015-05-05   23:30:00                  13
32  2015-05-06   00:00:00                  11
33  2015-05-06   00:30:00                  20
34  2015-05-06   01:00:00                  16
35  2015-05-06   01:30:00                  11
36  2015-05-06   02:00:00                  14
37  2015-05-06   02:30:00                  14
38  2015-05-06   03:00:00                  15
39  2015-05-06   03:30:00                  24
40  2015-05-06   04:00:00                  20
41  2015-05-06   04:30:00                  16
42  2015-05-06   05:00:00                  16
43  2015-05-06   05:30:00                  16
44  2015-05-06   06:00:00                  24
45  2015-05-06   06:30:00                  14
46  2015-05-06   07:00:00                  15
47  2015-05-06   07:30:00                  17
48  2015-05-06   08:00:00                  20
49  2015-05-06   08:30:00                  19
50  2015-05-06   09:00:00                  11
51  2015-05-06   09:30:00                  19
52  2015-05-06   10:00:00                  20
53  2015-05-06   10:30:00                  19
54  2015-05-06   11:00:00                  11
55  2015-05-06   11:30:00                  13
56  2015-05-06   12:00:00                  12
57  2015-05-06   12:30:00                  10
58  2015-05-06   13:00:00                  12
59  2015-05-06   13:30:00                  19
60  2015-05-06   14:00:00                  22

[61 rows x 3 columns]